<!-- ejs format for declaring contents-->
<% const name = 'Sourish Mukherjee' %>
<nav>
    <div class="site-title">
        
       
        <p><%= name %></p>   <!-- ejs dynamic content printing-->
        <a href="/" ><h1><center>Aeonix</h1></a>
        <p> A Software Company </p>
    </div>

    <ul>
        <li><a href="/" class="">Blogs</a></li>
        <li><a href="/about" class="">About Us</a></li>
        <li><a href="/blogs/create" class="">New Blog</a></li>
    </ul>
</nav>