<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %> <!--Including the header file from header.ejs-->

<body>

    <%- include('./partials/nav.ejs') %> <!-- including the nav contents from different file -->
    
    <div class="blogs content">
        <h2> All Blogs</h2>
    </div>

    <div class="not-found content">
        OOPS! page not found :)
    </div>

    <%- include('./partials/footer.ejs')%> <!-- Including the footer from footer.ejs -->
</body>
</html>