<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %> <!--Including the header file from header.ejs-->

<body>

    <%- include('./partials/nav.ejs') %> <!-- including the nav contents from different file -->

    <div class="blogs content">
        <h2> All Blogs</h2>
    </div>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </div>

    <%- include('./partials/footer.ejs')%> <!-- Including the footer from footer.ejs -->

</body>
</html>