<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/nav.css" />
    <title> Aeonix </title>
</head>
<body>
    <h1><center> About Aeonix </h1>
    <h2><center> Start up software company. </h2>
    <a href="https://www.google.co.in/"><center>Google</a>
    <nav>
        <a href="/"><center>Homepage</a>
        <a href="/about"><center>about Us</a>
    </nav>
</body>
</html>
